$PrimaryDarkBlue: #030228;
$Creame: #FAF7F0;
$LightCream: #FFF0CE;
$DarkCream: #9D5C08;
$LightGrey: #B0ADB4;
$White: #FFFFFF;
$LightGradient: #64451D;
$TagGradient: #8D4F00;

$primaryColor: black;
$secondaryColor: $White;
$accentColor: $Creame;
$highlightColor: $LightCream;
$backgroundColor: $PrimaryDarkBlue;
$linkColor: blue;
$successColor: #5cb85c;
$warningColor: rgba(255, 0, 0, 0.717);
$infoColor: grey;
$errorColor: red;
// $hoverColor: white;
// $focusedColor: white;